.logo-heading {
  font-size: 1.4rem;
  text-align: left;
  line-height: 1;
  font-weight: 700;
  color: #404040;
  margin-left: 1rem;
}
.menu-item {
  border-bottom: 1px solid #eee;
}
.menu-item:active {
  background-color: transparent;
  color: red;
}
.menu-item:hover {
  background-color: transparent;
  color: red;
}
img {
  height: 75vh;
}
.logout-button {
  font-weight: bolder;
  position: absolute;
  top: 19rem;
  left: 1.5rem;
}
.side-bar {
  background-color: #fff;
}
.header {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.myAddress {
  margin-bottom: 0;
}
.content {
  padding: 1rem;
}
@media only screen and (max-width: 800px) {
  img {
    height: 90vh;
    width: 90vw;
  }
}
@media only screen and (max-width: 600px) {
  .header {
    justify-content: center;
  }
  .myAddress {
    display: none;
  }
  .popup-address {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 500px) {
  img {
    height: 85vh;
    width: 85vw;
  }
  .layout {
    display: flex;
    flex-direction: column;
  }
  .content {
    padding: 0;
  }
}
