.card-address {
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  width: 30rem;
  margin: 1rem;
  float: left;
}
.btn {
  width: 6rem;
}
.btn-red {
  background-color: #ff3031;
}

.btn-delete {
  background-color: #bbb;
  margin-left: 1rem;
  color: #fff;
  border: none;
}
